@import 'bootstrap/dist/css/bootstrap.min.css';

.App {
  width: 700px;
  background-color: antiquewhite;
  margin: 10px auto;
}
.travel-card{
  display: flex;
  align-items: center;
  width: 85%;
  /* background-color: beige; */
  margin: 10px auto;
  border-radius: 10px;
  font-size: 0.8rem;

}
.travel-image{

  width: 300px;
  border-radius: 5px;
  
}
.travel-photo{
  display: flex;
  align-items: center;
  margin: 20px;
}
.travel-details .location-sym{
  margin-right: 10px;
}
.travel-details span{
  margin-right: 20px;
}
.travel-details i{
  font-size: 20px;
}
.Header{
  background-color: rgb(237, 81, 81);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.globe-sym{
  width: 20px;
  margin-right: 10px;
}
.Header p{
  margin: auto;

}